.App {
  text-align: center;
  min-height: calc(100vh - 70px);
}

.App-header {
  margin: 30px;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
